:root{
    --primary: #6C3428;
    --primary-accent: #BA704F;
    --secondary-accent: #DFA878;
    --utility-color: #CEE6F3;
}

@font-face {
    font-family: "Poppins";
    src: url("../misc/Fonts/Poppins.ttf");
}

.toast{
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    visibility: hidden;
}

.toast-inner{
    display: flex;
}

.toast-icon{
}

.toast-message{
    flex-grow: 1;
}

.btn{
    border: none;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    padding: 5px;
    font-family: "Poppins", sans-serif;
}